<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="MongoDbDelete"
	iconfile="mongodb-delete.png"
	description="MongoDB Delete"
	tooltip="This plug-in allows to delete document inside a Mongo DB collection"
	category="Big Data"
	classname="com.github.maasdi.di.trans.steps.mongodbdelete.MongoDbDeleteMeta">

	<libraries>
		<library name="pentaho-mongodb-delete-plugin-${project.version}.jar"/>
		<library name="lib/mongo-java-driver-${mongodb.driver.version}.jar"/>
		<library name="lib/pentaho-mongodb-plugin-${pentaho.mongodb.plugin.version}.jar"/>
	</libraries>

	<localized_category>
		<category locale="en_US">Big Data</category>
	</localized_category>
	<localized_description>
		<description locale="en_US">MongoDB Delete</description>
	</localized_description>
	<localized_tooltip>
		<tooltip locale="en_US">This plug-in allows to delete document inside a Mongo DB collection</tooltip>
	</localized_tooltip>
</plugin>
